
.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap:  70px;
}
.home{
    background-image: url("assets./earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
}
.product_image{
    width: 275px;
    height: 240px;

}
.hr_product{
    width: 30px;
    border: 2px solid black;
} 
  
.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font: size 30px;
}

nav a{
    color:black;
    font-size: 15px;
    text-decoration: solid;
} 

nav ul{
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    
}

nav li{
    display: inline;
    margin-inline-end:  .80rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 150px;
    padding-bottom: 25px;
    border-bottom: 10px black;
}

.navLogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .navBar {
    margin-top: 15px;
  }
  .navLogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    max-width: 45px;
  }

.navCart{
    position:absolute;
    top: 10px;
    right: 10px;
}

.sectionOne{
    color: white;
    font-size: 30px;
    font-style: normal;
    background-size: 150px;
    width: 300px;
    height: 500px;
}

.sectionTwo{
    color: white;
    font-size: 30px;
    font-style: normal;
    text-align: right;
   
}

/* .twoPhotos{
    align-content: center;
} */

.logoTwo{

    position: flex;
    float:right;
    width: 300px;
    height:fit-content
    /* position: absolute; */
    /* right: 75%; */
        
  }

.logoThree{
    position: flex;
    float: left;
    width: 125px;
    height:fit-content;
    margin-right: 25px;
}

