*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap:  70px;
}
.home{
    background-image: url("assets./earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
}
.product_image{
    width: 275px;
    height: 240px;

}
.hr_product{
    width: 30px;
    border: 2px solid black;
} 

.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font: size 12px;;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}


